<!DOCTYPE html>
<html lang="<%= title %>">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p><%= welcome %></p>
    <p>
        <a href="?lng=ko">한국어</a> | 
        <a href="?lng=de">Deutsche</a> | 
        <a href="?lng=fr">French</a> | 
        <a href="?lng=en">English</a>
    </p>
    <p><%= info %></p>
</body>
</html>
